@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 192 15.15% 93.53%;
    --foreground: 210 28.77% 28.63%;
    --muted: 204 8.2% 76.08%;
    --muted-foreground: 210 28.77% 28.63%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 28.77% 28.63%;
    --card: 0 0% 100%;
    --card-foreground: 210 28.77% 28.63%;
    --border: 204 8.2% 76.08%;
    --input: 192 15.15% 93.53%;
    --primary: 145.33 63.38% 41.76%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 55.29%;
    --secondary-foreground: 0 0% 100%;
    --accent: 145.29 62.96% 31.76%;
    --accent-foreground: 0 0% 100%;
    --destructive: 5.61 78.08% 57.06%;
    --destructive-foreground: 0 0% 100%;
    --ring: 145.33 63.38% 41.76%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 145 49% 3%;
    --foreground: 145 12% 97%;
    --muted: 145 40% 9%;
    --muted-foreground: 145 12% 69%;
    --popover: 145 49% 3%;
    --popover-foreground: 145 12% 97%;
    --card: 145 49% 4%;
    --card-foreground: 145 12% 98%;
    --border: 145 2% 12%;
    --input: 145 2% 12%;
    --primary: 145 63% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 145 8% 20%;
    --secondary-foreground: 145 8% 80%;
    --accent: 145 8% 20%;
    --accent-foreground: 145 8% 80%;
    --destructive: 10 93% 60%;
    --destructive-foreground: 0 0% 0%;
    --ring: 145 63% 42%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}